<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello PhoenixExample!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/my.css") %>"/>
    <!-- link rel="stylesheet" href="<%= static_path(@conn, "/css/awesomplete.css") %>" -->

    <!-- rawgit uses maxcdn, github.io pages use fastly -->
    <!-- link rel="stylesheet" href="//cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css" -->
    <!-- link rel="stylesheet" href="//leaverou.github.io/awesomplete/awesomplete.css" -->
    <link rel="stylesheet" href="//nico-amsterdam.github.io/awesomplete-util/css/awesomplete.css">

    <!-- rawgit uses maxcdn, github.io pages use fastly -->
    <!-- script src="//cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script -->
    <!-- script src="//rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.js"></script -->
    <!-- script src="//leaverou.github.io/awesomplete/awesomplete.min.js"></script -->
    <script src="//nico-amsterdam.github.io/awesomplete-util/js/awesomplete.min.js"></script>
    <!-- script src="<%= static_path(@conn, "/js/awesomplete.js") %>"></script -->
    <style>
      .table { display: table }
      div.awesomplete {display: block}
      .input-group-btn .dropdown-btn {line-height: 30px}
      div.awesomplete-disabled ul li p mark {background: none; color:#333; padding:0}
      div.awesomplete ul li p, div.awesomplete ul li div {display: block; font-size: small; margin-left: 1em}
      div.awesomplete .awe-found {border: 2px solid green}
      .hide-not-found div.awesomplete .awe-not-found {border-color: lightblue}
      div.awesomplete .awe-not-found {border: 2px solid red}
      #awe-track-artists ul { margin-top: 0 }
    </style>

    <!-- script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script -->

    <!-- script src="<%= static_path(@conn, "/js/awesomplete_util.js") %>"></script -->
    <script src="//nico-amsterdam.github.io/awesomplete-util/js/awesomplete-util.js"></script>
    <!-- script src="<%= static_path(@conn, "/js/awesomplete_util.min.js") %>"></script -->

  </head>

  <body>
    <div class="container-fluid">
      <header class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
        <h1><%= gettext "My examples" %></h1>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main>
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
